<settings>
    <setting propertyKey="@Properties.clientId" title="@Strings.ClientIdTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.clientSecret" title="@Strings.ClientSecretTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.onlyLights" title="@Strings.OnlyLightsTitle">
        <settingConfig type="boolean" />
    </setting>
</settings>
